body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-bottom: 20px;
}

.halka {
    font-weight: 600;
}

.buy-now-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

h1, p, button {
    margin-bottom: 25px;
}

p {
    color: grey;
}

.card-text, .card-title {
    text-align: center;
}

.card {
    border: 1px;
    box-shadow: 0 0 10px rgb(236, 236, 236);
    border-radius: 30px;
    margin-bottom: 20px;
}

.card-footer {
    border: none;
    background-color: white;
}

h3 {
    margin-bottom: 20px;
}

.price {
    text-align: center;
}

#bottom {
    position:absolute;
    bottom:0;
 }

 #center {
     text-align: center;
 }